/* Inheritance - target the body tag to change the font family and increase the font size to 18px */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
/* Select multiple elements - select both header and footer elements and add the same background colour */
header, footer{
    background-color: peachpuff;
}
/* Class selector - add a class of site-title to the main heading of the site and select the class in CSS to change the colour of text of the heading */
.site-title{
    color: saddlebrown;
}
/* Id selector - add an id my-image to your image and select the id in CSS to add a box-shadow with 0 horizontal and vertical placement, 2px of the blur, 1px of the spread and black colour */
