
nav ul {
    list-style: none;
 }
nav ul li {
    display: inline-block;
    width: 49%;
    padding: 1em;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    background-color: #aad4cf;
}