/**********GLOBAL STYLES**********/

/*ADDING  'Open Sans' FONT FAMILY */
/* Establishing font family and size */
html {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
}

/* Setting the maximum width of the container to 1200px*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* NAVIGATION*/

/* Adding background color to nav */
nav{
    background-color: #222;
    font-size: 20px;
}

/* Deleting bullet list to nav */
ul{
    list-style-type:none;
    text-align: center;
    margin: 0;
    padding: 0;

}

/* Adding color to nav list and taking away list style */

nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #c78c06;
}

/* LoVE HAte Link Visited Hover And Focus */
.nav-list a,
.nav-list a:link,
.nav-list a:visited{
    background-color: #222;
    color: #c78c06;
}

.nav-list a:hover{
    background: #c78c06;
    color: inherit;
} 

.nav-list a.current{
    background: #c78c06;
    color: inherit;
}
.logo{
    float: left;
    margin-right: 100%;
    margin-bottom: 10%;
}
/* Positioning and stylizing the search bar to be longer and same text size as nav ul li */
.search {
    width: 90%;
    margin-bottom: 10%;
    font-size: 20px;
    padding: 8px;
}
/* Adding border to magnifying glass button, coloring the border, text, background, adding padding */
nav button{
    color:#c78c06;
    background-color: #222;
    border: 2px solid #c78c06;
    padding: 10px;
}




/***********DESKTOP STYLES**********/
/* Adding a min-width media query for the screen size of 760px and above*/
@media screen and (min-width: 760px) {
    body {
        font-size: 1.25rem;
    }

    /* everything that will be your desktop styles will be in here. */




















}